<!-- toggle -->
<button mat-mini-fab [color]="isEnabled ? 'primary' : ''">
  <app-gtranslate-icon></app-gtranslate-icon>
</button>
<!-- popup -->
<mat-card *ngIf="isOpened">
  <mat-card-content>
    <form [formGroup]="formGroup">
      <!-- on/off -->
      <mat-slide-toggle formControlName="isEnabled">{{
        isEnabled ? 'On' : 'Off'
      }}</mat-slide-toggle>
      <ng-container *ngIf="isEnabled">
        <!-- speed -->
        <app-selection-list
          formControlName="speed"
          [options]="speedOptions"
          title="Speed"
        >
          <ng-template let-option>{{ option.toFixed(1) }}x</ng-template>
        </app-selection-list>
        <!-- autopause -->
        <app-selection-list
          formControlName="autopause"
          [options]="toggleOptions"
          title="Autopause"
        >
          <ng-template let-option>{{ option ? 'On' : 'Off' }}</ng-template>
        </app-selection-list>
        <!-- target language-->
        <app-selection-list
          formControlName="targetLanguage"
          [options]="languageOptions"
          idKey="id"
          title="Language"
        >
          <ng-template let-option>{{ option.name }}</ng-template>
        </app-selection-list>
      </ng-container>
    </form>
  </mat-card-content>
</mat-card>
