mat-card {
  div.row {
    display: flex;
    flex-direction: row;

    > * {
      flex: 1 0 auto;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  div.column {
    display: flex;
    flex-direction: column;
  }

  mat-selection-list {
    max-height: 40vh;
    overflow-y: auto;
  }
}
